# Node modules
node_modules/

# dotenv environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
*.swp
*.swo
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build output
dist/
build/

# Optional cache folders
.cache/
.next/
out/
